/* b_blog.css */

@media screen {

#blogBox {
  width: 100%; height: 460px;
  padding-top: 80px; box-sizing: border-box;
  background-color: #fff;
}
.blog_area {
  width: auto; max-width: 1200px; height: 300px;
  margin: auto;
}
.blog_title_part {
  float: right;
  width: 660px; height: 300px;
}
.blog_title {
  width: 100%; height: 46px;
  margin-bottom: 30px;
  padding-right: 10px; box-sizing: border-box;
}
.blog_title h3 {
  float: right;
  width: auto; height: 100%;
  font-size: 36px; font-weight: 700;
}
.blog_title_part span p{
  display: block;
  width: 100%; height: 70px;
  padding-right: 10px; box-sizing: border-box;
  text-align: right;
  border-bottom: 1px solid #555; box-sizing: border-box;
}

.blog_title_part ul { width: 100%; height: auto;}
.blog_title_part li {
  float: left;
  margin-top: 24px; margin-right: 29px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.blog_title_part li:last-child { margin-right: 0;}

.blog_title_part li > button {
  width: auto; height: auto;
}
.contant_thumbnail {
  width: 200px; height: 130px;
  border-radius: 10px;
}
li:nth-child(1) .contant_thumbnail { background-image: url("../../img/blog/blog_01_thumb.png"); }
li:nth-child(2) .contant_thumbnail { background-image: url("../../img/blog/blog_02_thumb.png"); }
li:last-child .contant_thumbnail { background-image: url("../../img/blog/blog_03_thumb.png");}


.blog_content {
  float: left;
  width: 500px; height: 300px;
  border-radius: 10px;
  background-color: #ddd;
}
.blog_gallery {
  width: 100%; height: 100%;
  border-radius: 10px;
  background-image: url("../../img/blog/blog_01.png");
}

}