/* b_blog.css */

@media screen {

#blogBox {
  width: 100%; height: 460px;
  padding-top: 80px; box-sizing: border-box;
  background-color: #fff;
}
.blog_area {
  width: auto; max-width: 1200px; height: 300px;
  margin: auto;
}
.blog_title_part {
  float: right;
  width: 660px; height: 330px;
}
.blog_title {
  width: 100%; height: 46px;
  margin-bottom: 30px;
  padding-right: 10px; box-sizing: border-box;
}
.blog_title h3 {
  float: right;
  width: auto; height: 100%;
  font-size: 36px; font-weight: 700;
}
.blog_title_part span p{
  display: block;
  width: 100%; height: 70px;
  padding-right: 10px; box-sizing: border-box;
  text-align: right;
  border-bottom: 1px solid #555; box-sizing: border-box;
}

.blog_title_part ul { width: 100%; height: auto;}
.blog_title_part li {
  float: left;
  margin-top: 24px; margin-right: 29px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.blog_title_part li:last-child { margin-right: 0;}

.blog_title_part li > button {
  width: 200px; height: auto;
}
.blog_title_part li span {
  display: block;
  width: 100%; height: auto;
}
.contant_thumbnail {
  width: 200px; height: 130px;
  border-radius: 10px;
}


.blog_content {
  float: left;
  width: 500px; height: 330px;
  border-radius: 10px;
  background-color: #333;
}
.blog_content a {
  display: block;
  width: 100%; height: 100%;
}
.blog_gallery {
  visibility: hidden;
  width: 100%; height: 100%;
  border-radius: 10px;
  background-image: url("../../img/blog/blog_01.png");
  background-size: cover;
}
.blog_gallery.on{
  visibility: visible;
}


}