@media screen {

  #wrap {
    width: 100%; height: 100%;
  }

  /* _____________________________________________________________#headBox */
  #headBox {
    position: fixed; top: 0; left: 0; z-index: 1000;
    width: 100%; height: 248px;
    padding-top: 23px; box-sizing: border-box;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .head_area {
    position: relative;
    width: auto; max-width: 1200px; height: 150px;
    margin: auto; 
  }
  #logo { 
    float: left; 
    width: 223px; height: 65px;
    margin-top: 75px;
  }
  #logo a {
    display: block;
    width: 100%; height: 100%;
    background-image: url("../../img/header/logo.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
  }
  /* ==================================================unb */
  #navBox {
    float: right;
    width: 532px; height: 100%;
    padding-top: 10px; box-sizing: border-box;
  }
  .unb {
    float: right;
    width: 240px; height: 20px;
    margin-bottom: 46px;
  }
  .unb ul { width: auto; height: auto; }
  
  .unb li {
    float: left;
    width: 80px; height: 20px;
    padding: 0 10px 0; box-sizing: border-box;
    border-right: 1px solid #90A4AE;
  }
  .unb li:last-child { border-right: 0;}

  .unb li a, .unb button {
    width: 100%; height: 100%;
    margin: auto;
  }
  .unb li p {
    text-align: center;
    line-height: 20px;
    font-size: 14px; color: #90A4AE;
  }
  
/* ================================================search==== */
  .nav_search {
    float: right;
    width: 436px; height: 50px;
  }
  .nav_search ul { width: 100%; height: auto;}

  .nav_search li {
    float: left;
    width: auto; height: auto;
  }
  .nav_search li:last-child { 
    float: right; 
    width: 50px; height: 50px; 
    margin-right: 10px;
  }
  .nav_search li:last-child a { 
    background-image: url("../../img/header/cart.png");
    background-image: url("../../img/header/cart.svg");
  }
  .search fieldset { 
    width: 364px; height: 50px; 
    border: 1px solid #90A4AE;
    border-radius: 10px;
  }
  .nav_search input {
    display: block;
    float: left;
    width: 310px; height: 100%;
    padding: 0 10px; box-sizing: border-box;
    border-radius: 10px;
    /* outline: none; */
  }
  .btn_wrap { float: right;  width: 50px; height: 50px; }

  .nav_search button { 
    background-image: url("../../img/header/search.png");
    background-image: url("../../img/header/search.svg");
  }
  .nav_search button:hover, 
  .nav_search li:last-child a:hover
  { background-color: #90A4AE55; border-radius: 50%;}

  /* ===============================================tab */
  .tab_wrap {
    width: 100%; max-width: 1440;
    border-top: 1px solid #90A4AE;
  }
  .head_tab_inner {
    width: auto; max-width: 1050px; height: 30px;
    margin: auto;
    margin-top: 10px; margin-bottom: 10px;
  }
  .head_tab_inner ul {
    width: 100%; height: auto;
  }
  .head_tab_inner li {
    float: left;
    width: 175px; height: 30px;
  }
  .head_tab_inner button:hover,
  .head_tab_inner span:hover {
    text-decoration: none;
    border-bottom: 3px solid #304FFE;
  }

/* ---------------------아코디언 */

.sub_list {
  display: none;
  position: absolute; top: 225px; right: 0; left: 0; z-index: 10;
  width: 1050px; height: auto;
  margin: auto; padding-bottom: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.head_tab_inner .sub_list a {
  float: left;
  width: calc(1050px / 5); height: 50px;
  text-align: center; line-height: 50px;
}
.sub_list a:hover {
  font-weight: 700;
  background-color: #ECEFF1;
}

/* --------------------- */
  .head_tab_inner a {
    display: block;
    width: 100%; height: 100%;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
  }
 
  .head_tab_inner li button { display: block; margin: auto;}
  
  .head_tab_inner span { font-size: 18px; font-weight: 400; }



/* -----------------------------------모달 윈도우 일단 붙여넣기/ 수정하기------- */
.modal_window {
  display: none;
  position: fixed; top: 0; left: 0;
  z-index: 2000;
  width: 100%; height: 100%;
}
.modal_data {
  position: absolute; 
  top: 50%; left: 50%; 
  z-index: 100;
  width: 500px; height: 600px;
  padding: 10px; 
  border: 1px solid #263238;
  background-color: #fff;
  border-radius: 8px;
  transform: translate(-50% , -50%);
}
.close_btn {
  position: absolute; 
  top: 10px; right: 10px;
  width: 48px; height: 48px;
  /* background-color: #fdd; */
}
.close_btn button {
  width: 100%; height: 100%;
  border: 2px solid #C1D5E0;
  border-radius: 100%;
}

.close_btn button:hover { 
  border: none;
  background-color: #FFAB00;
}
.close_btn button:focus {
  font-weight: 700;
  border: 5px solid #304FFE;
  outline: 0;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
.modal_content {
  position: absolute; top: 48px; left: 0;
  width: 100%; height: 90%;
}
.modal_content span {
  display: block;
  width: 100%; height: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px; font-weight: 700;
  border-bottom: 1px solid #90A4AE ;
}
.content1 {
  width: 90%; height: auto;
  margin: auto;
  background-color: #eee;
}
.content1 label { 
  width: 150px; height: 50px;
  background-color: #dff;
}




/* _________________________________ */
.modal_bg {
  position: absolute; z-index: -1; top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}




}/* @media screen */