@media screen {

  #wrap {
    /* position: relative; */
    width: 100%; height: 100%;
  }

  /* _____________________________________________________________#headBox */
  #headBox {
    position: fixed; top: 0; left: 0; z-index: 1000;
    width: 100%; height: 248px;
    padding-top: 23px; box-sizing: border-box;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .head_area {
    position: relative;
    width: auto; max-width: 1200px; height: 150px;
    margin: auto; 
  }
  #logo { 
    float: left; 
    width: 223px; height: 65px;
    margin-top: 75px;
  }
  #logo a {
    display: block;
    width: 100%; height: 100%;
    background-image: url("../../img/header/logo.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
  }
  /* ==================================================unb */
  #navBox {
    float: right;
    width: 532px; height: 100%;
    padding-top: 10px; box-sizing: border-box;
  }
  .unb {
    float: right;
    width: 240px; height: 20px;
    margin-bottom: 46px;
  }
  .unb ul { width: auto; height: auto; }
  .unb li {
    float: left;
    width: 80px; height: 20px;
    padding: 0 10px 0; box-sizing: border-box;
    border-right: 1px solid #555;
  }
  .unb li:last-child { border-right:0;}
  .unb li a, .unb button {
    width: 100%; height: 100%;
    margin: auto;
  }
  .unb li p {
    text-align: center;
    line-height: 20px;
    font-size: 14px; color: #90A4AE;
  }
  
/* ================================================search==== */
  .nav_search {
    float: right;
    width: 536px; height: 50px;
  }
  .nav_search ul { width: 100%; height: auto;}
  .nav_search li {
    float: left;
    width: auto; height: auto;
  }
  .nav_search .search {
    width: 344px; height: 50px;
    padding: 7px 10px; margin: 0; box-sizing: border-box;
    border: 1px solid #555;
    border-radius: 10px;
  }
  .nav_search input {
    display: block;
    float: left;
    width: 270px; height: 34px;
  }
  .nav_search a {
    display: block;
    float: right;
    width: 30px; height: 30px;
    margin-right: 16px;
  }
  .search a { margin-right: 5px;}
  .nav_search .icon {
    width: 30px; height: 30px;
  }

  .nav_search li { margin-top: 10px;}

  .search .icon { 
    background-image: url("../../img/header/search.png");
    background-image: url("../../img/header/search.svg");
    background-repeat: no-repeat;
  }
  .nav_search li:nth-child(2) {
    margin: 20px 50px 0;
    background-image: url("../../img/header/cart.png");
    background-image: url("../../img/header/cart.svg");
    background-repeat: no-repeat;
  }
  .nav_search li:nth-child(3) {
    margin-top: 18px;
    background-image: url("../../img/header/my_page.png");
    background-image: url("../../img/header/my_page.svg");
    background-repeat: no-repeat;
  }
  /* ===============================================tab */
  .tab_wrap {
    width: 100%; max-width: 1440;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
  }
  .head_tab_inner {
    width: auto; max-width: 1050px; height: 30px;
    margin: auto;
    margin-top: 10px; margin-bottom: 10px;
  }
  .head_tab_inner ul {
    width: 100%; height: auto;
  }
  .head_tab_inner li {
    float: left;
    width: 175px; height: 30px;
    padding: 5px 20px; box-sizing: border-box;
  }
/* ---------------------아코디언 */

.sub_list {
  display: none;
  position: absolute; top: 225px; right: 0; left: 0; z-index: 10;
  width: 1050px; height: auto;
  margin: auto;
  background-color: #aff;
}
.head_tab_inner .sub_list a {
  float: left;
  width: calc(1050px / 5); height: 50px;
  padding: 5 30px; box-sizing: border-box;
  text-align: center; line-height: 50px;
  background-color: #1a1;
}

/* --------------------- */
  .head_tab_inner a {
    display: block;
    width: 100%; height: 100%;
    text-align: center;
  }
  .head_tab_inner li:nth-child(2) button, 
  .head_tab_inner li:nth-child(3) button { display: block; margin: auto;}
  
  .head_tab_inner .icon { 
    float: left;
    width: 28px; height: 24px;
    margin-right: 10px;
    background-image: url("../../img/header/arrcodian.png");
  }
  .head_tab_inner span {
    font-size: 18px; font-weight: 400;
  }




/* -----------------------------------모달 윈도우 일단 붙여넣기/ 수정하기------- */
.modal_window {
  display: none;
  position: fixed; top: 0; left: 0;
  z-index: 2000;
  width: 100%; height: 100%;
  /* background-color: #555; */
}
.modal_data {
  position: absolute; 
  top: 50%; left: 50%; 
  z-index: 100;
  width: 500px; height: 600px;
  padding: 10px; 
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 8px;
  transform: translate(-50% , -50%);
}
.close_btn {
  position: absolute; 
  top: 0; right: 0;
  width: 48px; height: 48px;
  /* background-color: #fdd; */
}
.close_btn button {
  width: 100%; height: 100%;
  border: 1px solid #777;
  border-radius: 100%;
}

.close_btn button:hover { background-color: #aca;}
.close_btn button:focus {
  font-weight: 700;
  border: 5px solid #304FFE;
  outline: 0;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
.modal_content {
  position: absolute; top: 48px; left: 0;
  width: 100%; height: 90%;
  /* background-color: #add; */
}
.modal_content h2 {
  width: 100%; height: auto;
  text-align: center;
  font-size: 20px; font-weight: 700;
}

.modal_bg {
  position: absolute; z-index: -1; top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}




}/* @media screen */