/*  b_sale.css */

@media screen {

  #saleBox {
    width: 100%; height: 700px;
    padding-top: 70px; box-sizing: border-box;
    border-top: 1px solid #777;
  }
  .sale_area {
    position: relative;
    width: auto; max-width: 1200px; height: 600px;
    margin: auto;
    /* background-color: #ccc; */
  }
  .sale_title {
    width: 100%; height: auto;
    margin-bottom: 40px;
  }
  .sale_title h2 {
    width: 100%; height: auto;
    text-align: center;
    font-size: 36px; font-weight: 500;
  }

}