/* login.css */

#loginBox { 
  width: 100%; height: 750px; 
  padding-top: 300px; 
}

.login_area {
  width: 825px; height: auto;
  margin: auto;
}
.title_part {
  width: 100%; height: 120px;
  margin-bottom: 64px;
}
.title_part h3 {
  width: auto; height: auto;
  font-size: 36px; color: #263238;
  text-align: center;
  line-height: 120px;
}
/* -------------------------------------input 입력란 */
.inpit_area {
  width: 470px; height: 452px;
  margin: auto;
}
.user_input {
  width: 100%; height: 50px;
  margin-bottom: 24px;
}
.user_input input {
  width: 100%; height: 100%;
  padding: 5px 10px; box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #90A4AE;
}
/* ---------------------------------아이디 저장 및 찾기 서비스 구역 */
.user_service {
  width: 100%; height: 25px;
  padding-top: 5px; box-sizing: border-box;
}
.user_service fieldset { color: #263238;}

.save_id {
  float: left;
  width: 120px; height: 100%;
}
.find_service {
  float: right;
  width: auto; height: 100%;
}
.find_user {
  float: left;
  padding: 0 15px;
}
.find_user:first-child {
  padding-left: 0; border-right: 1px solid #263238;
}
.find_user:last-child { padding-right: 0;}

.find_service a span {
  text-align: center;
  font-size: 16px;
} 
.find_service a:last-child { border-right: 0;}

/* ----------------------------------------로그인 버튼 구역 */
.login_btn {
  width: 100%; height: 50px;
  margin-top: 20px; margin-bottom: 50px;
}
input[type="submit"] {
  width: 100%; height: 100%;
  border-radius: 10px;
  color: #fff; font-size: 20px; font-weight: 700;
  background-color: #304FFE;
}
/* ------------------------------------------회원가입 구역*/
.join_part {
  width: 100%; height: 75px;
  color: #263238;
}
.join_inner {
  float: left;
  width: 290px; height: 50px;
}
.join_inner div { width: 100%; height: 25px; line-height: 25px; }
.join_inner div:first-child { font-size: 18px; font-weight: 700;}
.join_inner div:last-child { font-size: 14px; word-spacing: -2;}

.join_btn {
  float: right;
  width: 170px; height: 50px;
}
.join_btn a {
  text-align: center; line-height: 50px;
  border-radius: 10px;
  background-color: #C1D5E0;
}
/* --------------------------------------sns 구역 */
.sns_login {
  width: 315px; height: 60px;
  margin: auto; margin-top: 22px;
  color: #263238;
}
.sns_inner { width: 100%; height: 30px; }

.sns_title { 
  float: left; 
  width: 170px; height: 100%;
  font-size: 24px; line-height: 30px;
  font-weight: 700;
}

.sns_inner div:nth-child(n+2){
  float: left;
  width: 30px; height: 30px;
  margin-right: 27px;
}
.sns_inner div:last-child { margin-right: 0;}

.sns_inner div:nth-of-type(2) a {
  background-image: url("../../img/login_join/google.png");
}
.sns_inner div:nth-of-type(3) a {
  background-image: url("../../img/login_join/naver.png");
}
.sns_inner div:nth-of-type(4) a {
  background-image: url("../../img/login_join/kakao.png");
}
.sns_login p {
  font-size: 14px;
  line-height: 30px;
  word-spacing: -0.5px;
}