/* c_product_page.css */

#productBox {
  width: 100%; height: 2000px;
}
.product_box {
  position: relative;
  width: 100%; height: 100%;
}

.product_area {
  position: absolute; top: 380px; left: 50%; 
  display: flex;
  justify-content: space-between;
  width: 1025px; height: 592px;
  transform: translate(-50%);
  background-color: #eee;
}
/* ___________________________________________ */
.product_img {
  width: 446px; height: 100%;
  background-color: #ffd;
}
.p_main_img {
  width: 100%; height: 446px;
  border-radius: 10px;
  background-color: #dff;
}
.p_tumbnail_area {
  width: 100%; height: 86px;
  margin-top: 59px;
  background-color: #bbb;
}
.p_tumbnail_area ul {
  width: auto; height: auto;
}
.p_tumbnail {
  display: inline-block;
  width: 86px; height: 86px;
  margin-right: 30px;
  border-radius: 10px;
  background-color: #eef;
}
.p_tumbnail:last-child { margin-right: 0;}

.p_tumbnail button[type="button"] {
  display: block;
  width: 100%; height: 100%;
}
/* _________________________________________________ */
.product_title_area {
  width: 470px; height: 100%;
}

.title_wrap {
  width: 100%; height: auto;
  border-bottom: 1px solid #333;
}
.title_wrap:last-child { border-bottom: 0;}
/* ___________________________________ */
.brand_area { 
  width: 100%; height: 100%;
  margin-bottom: 10px;
}
.brand_area span {
  display: block;
  float: left;
  width: auto; height: 28px;
  margin-right: 20px;
  line-height: 28px;
}
.brand_area button {
  display: block;
  width: 100px; height: 28px;
  font-size: 14px;
  border: 1px solid #444;
  border-radius: 10px;
}
.product_title { 
  width: 100%; height: 50px;
  margin-bottom: 10px;
  font-size: 36px; font-weight: 700;
  line-height: 50px;
}
.product_sub_title {
  width: 100%; height: 25px;
  margin-bottom: 15px;
  font-size: 18px; font-weight: 300;
  line-height: 25px;
}

/* ______________________________________________ */

.title_wrap_inner {
  width: auto; height: auto;
  margin-top: 16px; margin-bottom: 16px;
  padding: 10px 0;
}
.title_wrap_inner dl { 
  display: block; 
  width: 100%; height: auto; 
  margin-bottom: 16px;
}
.title_wrap_inner dl:nth-of-type() { margin-bottom: 0;}
.title_wrap_inner .sale_ck dd{ font-size: 20px; font-weight: 700; color : #D50000}

.title_wrap_inner dt {
  float: left;
  width: 93px; height: 25px;
}
.title_wrap_inner dd {
  width: auto; height: auto;
}

/* ___________________________________________ */
.satisfaction span, .quantity span {
  float: left;
  display: block;
  width: 93px; height: 100%;
}
.satisfaction, .quantity {
  width: 100%; height: 25px;
  margin: 10px 0;
}
.satisfaction_ck {
  float: left;
  width: 136px; height: 100%;
}
.satisfaction_ck .fa-star {
  color: #FFAB00;
  margin-right: 5px;
}

.quantity {
  height: 30px;
  line-height: 30px;
}
.quantity_ck {
  float: left;
  width: 224px; height: 37px;
}
.plus_btn, .minus_btn {
  display: block;
  width: 37px; height: 37px;
  border: 1px solid #555;
}
.plus_btn { float: right;}
.minus_btn { float: left;}

.quantity_ck input {
  display: block;
  width: 150px; height: 100%;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  text-align: center;
}
.fa-plus , .fa-minus { line-height: 37px;}
/* _____________________________________________________ */
.total_price dd {
float: right;
margin-right: 20px; margin-bottom: 20px;
font-size: 20px;
}
.total_price dd p { float: right; margin-left: 5px;}

.product_btns {
  display: flex;
  justify-content: space-between;
  float: left; 
  width: 100%; height: 60px;
}
.product_btns button {
  width: 100%; height: 100%;
  font-size: 18px; font-weight: 700;
}

.interested_items { 
  width: 60px; height: 100%; 
  border: 1px solid #555;
  border-radius: 10px;
}
.cart_btn, .buy_btn { 
  width: 180px; height: 100%; 
  border-radius: 10px;
  text-align: center; line-height: 60px;
}

.buy_btn { float: right; background-color: #304FFE;}
.buy_btn button { color: #fff;}
.cart_btn { border: 1px solid #555;}

.fa-solid .fa-heart { display: block; width: 30px; height: 30px; color: #C1D5E0;}